
:root {
  --b3-theme-primary: #1ec3b4;
  --b3-theme-primary-light: #1ec3b48c;
  --b3-theme-primary-lighter: #1ec3b459;
  --b3-theme-primary-lightest: #1ec3b419;
  --b3-theme-secondary: #f3a92f;
  --b3-theme-background: #2b2b2b;
  --b3-theme-surface: #2b2b2bee;
  --b3-theme-surface-light: rgba(41, 42, 45, 0.86);
  --b3-theme-error: #d23f31;
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #c9d1d9;
  --b3-theme-on-surface: #9aa0a6;
  --b3-theme-on-error: #fff;
  --b3-border-color: rgba(230, 230, 230, 0.1);
  --b3-scroll-color: rgba(230, 230, 230, 0.2);
  --b3-list-hover: rgba(230, 230, 230, 0.05);
  --b3-tab-background: #292a2d;
  --b3-tab-background-hover: #2e2f31;
  --b3-tooltips-color: rgba(70, 72, 76, 0.86);
  --b3-card-error-color: rgb(250, 179, 174);
  --b3-card-error-background: rgb(154, 77, 73);
  --b3-card-warning-color: rgb(255, 213, 153);
  --b3-card-warning-background: rgb(140, 113, 72);
  --b3-card-info-color: rgb(166, 213, 250);
  --b3-card-info-background: rgb(82, 116, 145);
  --b3-card-success-color: rgb(183, 223, 185);
  --b3-card-success-background: rgb(71, 116, 71);
    --b3-font-color1: #e84c22;
    --b3-font-color2: #ed7d31;
    --b3-font-color3: #ffc000;
    --b3-font-color4: #816405;
    --b3-font-color5: #70ad47;
    --b3-font-color6: #1ec3b4;
    --b3-font-color7: #1e90ff;
    --b3-font-color8: #5b9bd5;
    --b3-font-color9: #8064a2;
    --b3-font-color10:  #f5539e;
    --b3-font-color11: #d8eff3;
    --b3-font-color12: tranparent !important;
    --b3-font-color13: gray;
    --b3-font-background1: #802723aa;
    --b3-font-background2: #884309aa;
    --b3-font-background3: #977b00aa;
    --b3-font-background4: #5c8500aa;
    --b3-font-background5: #265100aa;
    --b3-font-background6: #1ec3b4aa;
    --b3-font-background7: #005989aa;
    --b3-font-background8: #776190aa;
    --b3-font-background9: #ccc1d9aa;
    --b3-font-background10: #db9890aa;
    --b3-font-background11: #9b9b9baa;
    --b3-font-background12: #8c9fb1aa;
    --b3-font-background13: var(--cliff-font);
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  --b3-dialog-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.4);
  --b3-diff-add: #133a1c;
  --b3-diff-add-surface: #28853e;
  --b3-diff-del: #440c10;
  --b3-diff-del-surface: #b1202d;
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #9876aa;
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #e8eaed;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #9aa0a6;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;
  --b3-protyle-search-background: #32593c;
  --b3-protyle-search-border-color: #486a51;
  --b3-protyle-search-current-background: #204282;
  --b3-protyle-code-background: rgba(240, 246, 252, 0.15);
  --b3-protyle-inline-strong-color: #e8eaed;
  --b3-protyle-inline-em-color: #e8eaed;
  --b3-protyle-inline-s-color: #e8eaed;
  --b3-protyle-inline-link-color: #8ab4f8;
  --b3-protyle-inline-mark-background: #32593c;
  --b3-protyle-inline-mark-color: #e8eaed;
  --b3-protyle-inline-tag-color: #9aa0a6;
  --b3-protyle-inline-blockref-color: #9876aa;
      --b3-pdf-selection: #779170;
      --b3-pdf-sidebar-width: 200px;
      --b3-pdf-offset: 0;
      --b3-pdf-background1: #812008;
      --b3-pdf-background2: #813808;
      --b3-pdf-background3: #0d3b80;
      --b3-pdf-background4: #779170;
      --b3-pdf-background5: #8B864E;
      --b3-pdf-background6: #681933;
      --b3-pdf-background7: #481761;
  --transparent: #2b2b2baa;
  --custom-transparent: #2b2b2bcc;
  --custom-transparent-deep: #1b1b1bdd;
  --custom-transparent-deeper: #1f1f1fdd;
  --cliff-main-background-color: #2b2b2b;
  --cliff-main-background-color-deeper: #1f1f1f;
  --custom-font-lighter: #c9d1d98c;
  --cliff-main-color:#2b2b2b;
  --cliff-main-color-transparent:#2b2b2bee;
  --cliff-main-color-transparent-light: #2b2b2baa;
  --cliff-main-clolr-deep:#1f1f1f;
  --cliff-bright-color:#f3a92f;
  --cliff-blur:blur(15px);
  --cliff-max-width: 1100px;
  --cliff-side-bar-hover:var(--morandi-air-green);
  --cliff-font:#F2F1E8;
  --cliff-font-strong:#BD387D;
  --cliff-font-em:#C88F0D;
  --cliff-head:#008EC6;
  --cliff-prompt:var(--morandi-sky);
  --cliff-link:var(--morandi-sea-emerald);
  --cliff-link-active:var(--morandi-statement-blue);
  --cliff-pdf-file:var(--morandi-hope);
  --cliff-pdf-file-active:var(--morandi-dusty-green);
  --cliff-code-block:#283532;
  --cliff-code-block-content:#283532;
  --cliff-quote-block:#333739;
  --cliff-quote-content:#008EC6;
  --cliff-anki-card:var(--morandi-clover-land);
  --cliff-anki-card-front:var(--morandi-clover-land);
  --cliff-delete-line:var(--morandi-shade);
  --cliff-tag:var(--morandi-caravan);
  --cliff-tag-background:#3F3D2E;
    --b3-tooltips-color:var(--b3-theme-on-background);
    --b3-tooltips-background:#2b2b2bdd;
    --b3-transition: all .15s cubic-bezier(0, 0, .2, 1) 0ms;
    --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

/************************LAYOUT************************/
/*Pictures And front*/
body{
  color: var(--cliff-font);
  background-image: url(cliff_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
/*backgoound color of selected icon bar*/
.block__icons--active{
  background-color: none!important;
}
/*TopBar*/
#toolbar.toolbar.fn__flex{
  background-color: #00000000;
  height:32px;
}
.toolbar #drag{
   display: none;
}
/*LeftBar*/
#dockLeft {
  /*display: none;*/
  background-color: transparent !important;
}
.dock__item {
   background-color:rgba(70,70,70,0.6);
}
.block__icons--active {
  background-color: none;
}
/*RigtBar*/
#dockRight {
  /*display: none;*/
  background-color: transparent !important;
}
.graph {
  background: #00000000 !important;
}
.graph.fullscreen {
  background-color: var(--cliff-main-color);
}
.graph__panel {
  z-index: 2;
}
/*.fn__flex-1.graph.file-tree.sy__graph.fullscreen{
  background-image: url(cliff_bg.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.fn__flex-1.graph.file-tree.sy__graph.fullscreen::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background: #2b2b2bdd;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: var(--cliff-blur) !important;
transform: translateZ(0);
}*/
/*Background of File Tree and Edit Area*/
.fn__flex-1.fn__flex [data-type="wnd"] {
  min-height: 90% !important;
  position: relative;
  margin: 8px;
  overflow: hidden;
  /*z-index: 2;*/
  box-sizing: border-box;
  border-radius: 6px;
}
.fn__flex-1.fn__flex [data-type="wnd"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background: #2b2b2bdd;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: var(--cliff-blur) !important;
transform: translateZ(0);
}
/*Edit area*/
.layout-tab-container {
  background-color: #00000000 !important;
}
/*File name in edit area*/
.protyle-title__input {
  background: #00000000 !important;
}
/*file content in Edit area*/
.protyle {
  background: #00000000 !important;
}

/*space between fileTree and editSpace*/
.layout__center .fn__flex [data-type="wnd"] {
  max-width: var(--cliff-max-width);
  margin: 0 auto;
}
/*.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg p,
.protyle-wysiwyg [data-node-id] {
  margin-left: 20px;
  margin-right: 20px;
}*/
.layout__resize--lr.layout__resize{
  padding-left: 20px;
  padding-right: 20px;
}
.layout__resize--lr.layout__resize::after{
  margin-left: 20px;
  margin-right: 20px;
}

/*Padding between the top bar and side bar*/
/*.fn__flex-1 {
  z-index: 1;
}*//*启用后分栏时toolbar被遮住*/
#layouts > .fn__flex-1 {
  padding: 8px; 
  padding-bottom: 20px;
}
.layout-tab-container .fn__flex-column .fn__flex-1 {
  padding: 8px;
}
.layout__center {
  padding: 0 4px;
}
.layout__center > .fn__flex {
  padding: 8px 4px !important;
}

/*full-screen-mode*/
/*.fn__flex-1.protyle.fullscreen {
  background-image: url(cliff_bg.jpg) !important;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}*/
.fn__flex-1.protyle.fullscreen .protyle-content {
  backdrop-filter: blur(2px);
  background-color: var(--custom-transparent) !important;
transform: translateZ(0);
}
.fn__flex-1.protyle.fullscreen .protyle-content .protyle-background {
  margin: 0px;
  min-height: 30vh;
}

/*noteTags*/
.fn__flex-column.fn__flex.fn__flex-1 .layout-tab-bar {
  background-color: #00000000 !important;
  opacity: 1;
}
.layout-tab-bar .item {
  border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgba(230, 230, 230, 0.133)!important;
  opacity: 0.6 !important;
}
/*selected noteTag*/
.layout-tab-bar .item--focus {
  background-color: #00000000 !important;
}
/*breadcrumb*/
.protyle-breadcrumb {
  background-color: #00000000 !important;
  border-bottom: 1px solid rgba(230, 230, 230, 0.05);
  /*border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;*/
}




/*ref block card*/
.block__popover {
   /*background-color:var(--b3-theme-surface);*/
  background: linear-gradient(to bottom, #474747db, #272727e6);
  border:none;
}
.block__icons--menu {
   background-color:transparent;
}
.block__popover.block__popover--move.block__popover--open {
  /* min-height: 90% !important; */
  margin: 0px auto;
  margin: 8px;
  /* overflow: hidden; fucks up hitbox for resizing corners */
  z-index: 2;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.5);
}
/*.block__popover.block__popover--move.block__popover--open::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: #2b2b2baa;
  border-radius: 6px;
  backdrop-filter: blur(20px) !important;
transform: translateZ(0);
   border-radius:12px;
}*/
.block__icons.block__icons--border {
  background-color: #00000000;
}

/*CommonMenu*/
#commonMenu.b3-menu {
  background-color: #00000000 !important;
}
#commonMenu.b3-menu::before{
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: #2b2b2baa;
  border-radius: 6px;
  backdrop-filter: blur(20px) !important;
transform: translateZ(0);
}
/*#commonMenu.b3-menu .b3-menu__item{
  background-color: var(--cliff-main-color-transparent-light)!important;
}*/
#commonMenu.b3-menu .b3-menu__item:hover{
  background-color: var(--b3-list-hover);
}
#commonMenu.b3-menu .b3-menu__separator{
  margin:1px;
}
.protyle-background {
  margin: 20px 0px;
}
/*set Menu*/
/*.b3-dialog__container {
  z-index: 2;
  background-image: url(cliff_bg.jpg);
  border-radius: 6px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border:1px;
}*/
.config__panel>.b3-tab-bar{
   background-color:#2d2d2d;
   border-radius:12px 0 0px 12px;
}
/*.b3-dialog__container::before {
  content: "";
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  background: var(--cliff-main-color-transparent);
  backdrop-filter: var(--cliff-blur) !important;
transform: translateZ(0);
  border-radius: 6px;
}*/
.b3-form__icon.search__header{
  background-color: #00000000!important;
}
.b3-text-filed.b3-text-filed--text.fn__block.b3-form__icon-input{
  background-color: var(--cliff-main-color-transparent)!important;
}
.b3-dialog__container .b3-tab-container{
  background-color: #00000000!important;
}
#configBazaarReadme.config-bazaar__readme{
  z-index: 3;
}
/*attr menu*/
.b3-text-filed.fn__flex-1{
  background-color: #00000000;
  border-bottom: 1px solid var(--b3-theme-primary-lightest);
}
.b3-text-filed, .pcr-app .pcr-interaction .pcr-result{
  background-color: #00000000;
}


/************************组件*************************/

/*quote*/
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
  background-color: var(--transparent) !important;
  border-left: 0.25em solid var(--cliff-bright);
}

/*fileTreeFront*/
.file-tree [data-type="navigation-folder"] .b3-list-item__text {
  color: var(--cliff-bright);
}

/*codeBlock*/
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
  background-color: #00000000 !important;
  border-radius: 6px;
}
.protyle-linenumber__rows {
  margin-top: 31px !important;
  background-color: #00000000 !important;
}
.code-block {
  position: relative;
  display: block;
  border-radius: 4px;
  background-color: var(--custom-transparent) !important;
  margin-top: 15px !important;
  padding-top: 32px !important;
  /* font-size: 14px; */
  /* font-size:10px; */
  border:2px solid var(--b3-theme-background-light);
}
.code-block:before {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: 50%;
  /* margin-top: 10px; */
  top: 10px;
  left: 15px;
  height: 12px;
  width: 12px;
  z-index: 1;
}

/*embed block*/
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
  background-color: var(--custom-transparent) !important;
  /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);*/
  border-radius: 6px;
}
.protyle-wysiwyg [data-node-id].li>.protyle-action--order:after {
   border-radius:50px;
}
/*task list*/
.protyle-action.protyle-action--task svg {
  color: var(--b3-theme-primary);
}
.li.protyle-task--done .protyle-action.protyle-action--task svg {
  color: var(--b3-theme-primary-light);
}
.li.protyle-task--done [data-node-id] {
  color: var(--custom-font-lighter);
}

/*list*/
.protyle-wysiwyg [data-node-id].li>.protyle-action svg {
  color: var(--b3-theme-primary);
}

/*blok ref link*/
[data-node-id][data-type=block-ref],[data-id][data-type=block-ref]{
  color: var(--cliff-font)!important;
}
[data-node-id][data-type=block-ref],[data-id][data-type=block-ref]::before,.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::before, .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]::before{
  content: "[[";
  color: #1ec3b4c7 !important;
}
.og-hierachy-navigate-doc-container span.docLinksWrapper [data-type=block-ref]::before {
   display:none;
}
.og-hierachy-navigate-doc-container span.docLinksWrapper [data-type=block-ref]::after {
   display:none;
}
[data-node-id][data-type=block-ref],[data-id][data-type=block-ref]::after,.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]::after, .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]::after{
  content: "]]";
  color: #1ec3b4c7 !important;
}
/*web link*/
.protyle-wysiwyg [data-node-id] span[data-type="a"] {
  color: inherit;
  border-bottom: thin solid #1ec3b4c7;
}
.protyle-wysiwyg [data-node-id] span[data-type="a"]:hover{
  color: #fff;
  border-bottom: thin solid #1ec3b4c7;
}

/*tags*/
/*.protyle-wysiwyg [data-node-id] span[data-type="tag"] {
  color: #fff;
  background-color: #e9967aaa;
  border-radius: 8px;
  border: none;
  padding: 2px;
}*/
.b3-typography code:not(.hljs),
.protyle-wysiwyg code:not(.hljs) {
  background-color: var(--b3-theme-primary-lighter);
}

div[data-type="NodeSuperBlock"] > [data-node-id] {
  margin-left: 0;
}

.b3-menu__items {
   overflow:hidden;
}
#commonMenu.b3-menu .b3-menu__item {
   background-color:transparent;
}
.layout__wnd--active .layout-tab-bar .item--focus:after,.layout-tab-bar .item--full.item--focus:after {
    background-color:#1ec3b4;
    display:none;
}
.layout-tab-bar .item--focus:after {
   display:none;
}
.item--focus {
   box-shadow:unset !important;
}
.b3-typography table tbody th, .b3-typography table tbody td, .protyle-wysiwyg table tbody th, .protyle-wysiwyg table tbody td,.bq {
   font-size:90%;
   background-color:rgba(var(--secondary-black), .38) !important;
}
.b3-card {
    box-shadow:unset;
    border:1px solid var(--b3-border-color);
}

/*.block__popover .block__content::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -3;
  background: #2b2b2bdd;
  background-position: center top;
  background-size: cover;
  background-attachment: fixed;
  backdrop-filter: var(--cliff-blur) !important;
transform: translateZ(0);
   border-radius:12px;
}*/
.color__square {
    transform: scale(1.3) !important;
    margin: 2px 4px !important;
}
.color__square:hover {
    border:2px solid var(--b3-theme-primary);
    transition:none;
    box-shadow:unset;
}
.b3-typography s, .b3-typography span[data-type~=s], .protyle-wysiwyg s, .protyle-wysiwyg span[data-type~=s] {
   color:inherit;
   opacity:0.6;
}
.b3-typography strong, .b3-typography span[data-type~=strong], .protyle-wysiwyg strong, .protyle-wysiwyg span[data-type~=strong] {
   color:inherit;
}
/*搜索界面*/
/* 搜索面板调整，来自HBuiderX-Light*/
#searchList,
#globalSearchList {
    padding-right: 0px !important;
}

#searchList [data-type="search-item"],
#globalSearchList [data-type="search-item"] {
    display: block !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__graphic,
#globalSearchList [data-type="search-item"]>.b3-list-item__graphic {
    position: absolute;
    margin-top: 6px !important;
    margin-left: 2px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__text,
#globalSearchList [data-type="search-item"]>.b3-list-item__text {
    margin-left: 20px;
    max-height: 73px !important;
    padding-top: 5px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    overflow-y: auto !important;
    text-overflow: ellipsis !important;
    line-height: 1.2;
    -webkit-box-orient: inherit !important;
}

#searchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis,
#globalSearchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis {
    display: block !important;
    max-width: 95% !important;
    margin-top: -7px !important;
    margin-bottom: -5px !important;
    padding-left: 12px !important;
}
#searchList [data-type="search-item"], #globalSearchList [data-type="search-item"] {
    margin-top:6px;
    padding:2px 2px 4px 2px;
    border-bottom:1px dashed var(--b3-border-color);
    border-radius: 0px 0px 0px 0px;
    padding-bottom:12px !important;
}
#searchList ::-webkit-scrollbar, #globalSearchList ::-webkit-scrollbar {
   width:0px;
}
.tooltip.tooltip--memo{
    font-size: 1.1rem !important;
    line-height: 1.3em;
    box-sizing: border-box;
    max-width:660px;
    padding: 5px 10px;
}
/*备注框文字*/
.protyle-util  .b3-text-field.b3-text-field--text.fn__block {
   font-size: 130%;
min-height: 200px !important;
   line-height:25px;
}

.protyle-util {
   background-color:#2b2b2bdd;
}
.b3-text-field.b3-text-field--text.fn__block {
   background-color:transparent;
   backdrop-filter:blur(1px);
transform: translateZ(0);
}

/*补充标签样式*/
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-content .protyle-wysiwyg [data-node-id] span[data-type="tag"],.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    border-bottom: none;
    background-color: transparent;
    transition: var(--b3-transition);
background: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    var(--b3-theme-primary) 50%,
    var(--b3-theme-primary) 100%
  );
  background-size: 7px 1px;
  background-repeat: repeat-x;
  background-position-y: bottom;
    padding: 1px 7px;
    border-radius: 20px;
    color: inherit;
    margin: 0 4px;
  font-size: 95%;
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-content .protyle-wysiwyg [data-node-id] span[data-type="tag"]::before,.protyle-wysiwyg [data-node-id] span[data-type~=tag]::before {
   content:"#";
   color:var(--b3-theme-primary);
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-content .protyle-wysiwyg [data-node-id] span[data-type="tag"]::after,.protyle-wysiwyg [data-node-id] span[data-type~=tag]::after {
   content:"#";
   color:var(--b3-theme-primary);
}
.protyle-toolbar {
  background: #226b65;
  padding:0px 4px;
  border-radius:0px;
  /*backdrop-filter: var(--cliff-blur) !important;*/
  box-shadow:var(--b3-point-shadow);
}
/*.protyle-wysiwyg span[data-type~=inline-memo]::after {
    content: "";
    width:7px;
    display:inline-block;
    height:7px;
    border-radius:50px;
    background-color: var(--b3-theme-primary);
    vertical-align: 0.6em;
}*/

/**/
.protyle-wysiwyg span[data-type~=inline-memo]{
    border-bottom: 0px solid !important;
    background-color:transparent;
background: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    var(--b3-theme-primary) 50%,
    var(--b3-theme-primary) 100%
  );
  background-size: 7px 1px;
  background-repeat: repeat-x;
  background-position-y: bottom;
    cursor: pointer;
}

.protyle-wysiwyg span[data-type~="inline-memo"]:hover, .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]:hover, .b3-typography a:hover, .protyle-wysiwyg [data-node-id] span[data-type="a"]:hover,.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:hover, .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]:hover {
    background-color: var(--b3-theme-primary-lightest);
    transition: var(--b3-transition);
}
/*[style*="background-color: var(--b3-font-background"] {
   color:#3c3e41;
}*/

.protyle-wysiwyg.protyle-wysiwyg [data-node-id]:not([data-type="NodeHTMLBlock"]):not([data-type="NodeCodeBlock"]):not([data-type="NodeBlockquote"]),.b3-typography p,.b3-typography ul, .b3-typography ol{
    line-height:1.8em;
    margin-bottom: 6px;
    margin-top: 6px;
} 
div.list div.bq {
    padding: 5px 10px 3px 20px !important;
    margin: 5px 0px 0px 36px !important;
}
div.list div.bq::before {
   font-size:200% !important;
   margin-left:-45px !important;
   margin-top:-18px !important;
}
.pdf__rect>div {
   border-radius:0px !important;
}
.pdf__rect>div:hover {
   border-radius:0px !important;
   filter:brightness(95%);
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color:transparent;
    border-left:none;
    padding-top:10px;
    padding-bottom:5px;
   border-radius:30px 0 0 0 !important;
   padding-left:20px;
   padding-right:10px;
    color: #f8f8f8dd;
border: 3px solid var(--b3-theme-surface-lighter);
}
.protyle-wysiwyg div.table[data-node-id] table {
    width: auto;
}
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    animation: unset !important;
}
.fullscreen {
   z-index:2;
   background-color:#2b2b2bdd !important;
   /*margin-top:-30px;*/
}
.fullscreen .protyle-breadcrumb {
   /*margin-top:30px;*/
   background-color:#2b2b2bdd !important;
}
body.body--win32:has(.fullscreen) #status {
   opacity:0;
    transition: all 200ms ease-out;
}
body.body--win32:has(.fullscreen) #status:hover {
   opacity:1;
    transition: all 200ms ease-out;
}
.layout__resize {
   z-index:1;
}

.b3-menu__item--readonly:hover *{
   color:inherit !important;
}
#commonMenu.b3-menu .b3-menu__item.b3-menu__item--readonly:hover{
   background-color:transparent;
}
.protyle-gutters {
    transition: all 200ms ease-out;
}
.sy__outline .b3-list-item__toggle {
   padding-left:4px !important;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic {
   color:transparent !important;
   margin-left:-26px;
   padding-left:2px;
   padding-right:8px;
    z-index:2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after{
        margin-left:3px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:16px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after{
        margin-left:3px;
        margin-right:4px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:12px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after{
        margin-left:3px;
        margin-right:8px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:8px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after{
        margin-left:3px;
        margin-right:12px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:4px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after{
        margin-left:3px;
        margin-right:14px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:2px;
        width:2px;        z-index:1;

        border-radius:3px;
}
.sy__outline .b3-list-item__toggle.fn__hidden{
	visibility: visible!important;
        color:transparent;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
        margin-left:3px;
        margin-right:16px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:0px;
        width:0px;        z-index:1;

        border-radius:3px;
}
.sy__file .b3-list-item__toggle {
   padding-left:1px !important;
   padding-right:1px;
   color:var(--b3-theme-primary);
   opacity:0.6;
}
.sy__file .b3-list-item__icon {
   margin-left:0px;
   margin-right:0px;
   padding:0px 0px;
   transform:scale(0.6);
}
.sy__file .b3-list.b3-list--background ul {
   border-left:1px solid var(--b3-theme-background-light);
   margin:0px 0px 0px 10px;
}
.sy__file .fn__flex-1 {
   margin:0px;
   padding-right:5px;
}
.layout--float .file-tree {
   margin-right:5px;
}
.fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list-item {
   margin-left:0px !important;
}
#layouts div.fn__flex-column div[data-type="wnd"] div.layout-tab-container .sy__file ul.b3-list li.b3-list-item[data-type="toggle"]{margin-left:10px !important;border-radius:6px;opacity:0}
#layouts div.fn__flex-column div[data-type="wnd"] div.layout-tab-container .sy__file ul.b3-list li.b3-list-item[data-type="toggle"]:hover {opacity:1}
/*.block__popover {
   border-radius:0px
}*/
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    background-color: transparent;
    border: 3px solid transparent;
    box-shadow: 0 0 0 2px var(--b3-theme-background-light) inset, 0 0 0 3px var(--b3-theme-background-light);
}

.b3-menu__item {
   background-color:transparent;
}

:root {
    --b3-pdf-selection:var(--b3-theme-primary-lighter) !important;
    --b3-pdf-background2: hsl(50deg 100% 50%) !important;
    --b3-pdf-background1: hsl(0deg 100% 88%) !important;
    --b3-pdf-background4: hsl(100deg 58% 75%) !important;
    --b3-pdf-background7: hsl(209, 100%, 81%) !important;
    --b3-pdf-background3: hsl(177deg 46% 80%) !important;
    --b3-pdf-background6: hsl(259, 100%, 89%) !important;
    --b3-pdf-background5: hsl(45, 5%, 90%) !important;
}
.textLayer .highlight.selected {
   background-color: transparent;
   border:2px solid var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
   color:inherit;
   opacity:1;
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-content .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]::before,.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]::before{
   content:"『";
   color:var(--b3-theme-primary);
}
#layouts div.layout__center div[data-type="wnd"] .layout-tab-container .protyle .protyle-content .protyle-wysiwyg [data-node-id] span[data-type="file-annotation-ref"]::after,.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref]::after{
   content:"』";
   color:var(--b3-theme-primary);
}

/*适配随机题头图插件*/
.b3-dialog__body:has(.pmc-change-loading.pmc-hide) .b3-dialog__content {
   background-color:#2b2b2bdd !important;
}
.pmc-rp-result {
   background-color:transparent !important;
}
.pmc-rp-result-item-person,.pmc-rp-page-item {
   color:#d7d7d7 !important;
}
.pmc-rp-page-cur {
   background-color:transparent !important;
   color:var(--b3-theme-primary) !important;
   border-color:var(--b3-theme-primary) !important;
}
.pmc-search-focusable-within {
   background:transparent !important;
}
.pmc-search-focusable-within:focus-within {
box-shadow:var(--b3-theme-primary) 0 0 0 1px inset, var(--b3-theme-primary-lighter) 0 0 0 2px !important;
}

.block__icons {
   color:#c9d1d9b0;
}
.sy__outline>.b3-list-item{
   margin:0px;
   padding-left:10px;
   color:#c9d1d9b0 !important;
}
.sy__file .fn__flex-1{
   padding-top:0px !important;
}
.b3-list-item__toggle:hover,.b3-list-item__icon:hover  {
   padding-right:4px;
   transition:var(--b3-transition);
}
.pdf__outer #viewerContainer:not(.pdfPresentationMode) {
   margin-bottom:20px;
}
#tts-content {
    font-size: 12px;
}
.protyle-attr--refcount {
  font-size:14px;
  border-radius:50px;
  padding:4px 8px;
  opacity:0.8;
  transform:scale3d(0.8,0.8,0.8);
   background-color:transparent;
   box-shadow:0 0 0 2px var(--b3-theme-primary-lighter) inset;
}
.protyle-attr--refcount:hover {
  background-color:var(--b3-theme-primary-light);
  color:var(--b3-theme-background);
   transition:var(--b3-transition);
}
/*日历插件适配*/
.arco-link,.arco-tabs-nav-type-line .arco-tabs-tab-title,.arco-picker-cell:not(.arco-picker-cell-selected).arco-picker-cell-in-view .exist {
    color:var(--b3-theme-primary) !important;
}
.arco-picker-cell-today:after,.arco-tabs-nav-ink,.arco-picker-cell-selected .arco-picker-date-value {
    background-color:var(--b3-theme-primary);
}
.arco-select-view-single:focus-within, .arco-select-view-single.arco-select-view-focus {
    border-color:var(--b3-theme-primary);
}
[data-name="Calendar-heatmap"] .b3-menu__item--current,[data-name="Calendar-heatmap"] #openViewElement{
   background-color:transparent !important;
}
.b3-typography mark, .b3-typography span[data-type~=mark], .protyle-wysiwyg mark, .protyle-wysiwyg span[data-type~=mark] {
background-color: var(--b3-theme-primary-lighter) !important;
}

.protyle-wysiwyg [data-node-id] span[data-type~=block-ref], .protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
   opacity:1;
background: linear-gradient(
    to right,
    transparent 0%,
    transparent 50%,
    var(--b3-theme-primary) 50%,
    var(--b3-theme-primary) 100%
  );
  background-size: 7px 1px;
  background-repeat: repeat-x;
  background-position-y: bottom;
  color:inherit;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background1);"] {
   color:#f7f4f4 !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background2);"] {
   color:#efeace !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background3);"] {
   color:#ffffbc !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background4);"] {
   color:#ebefae !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background5);"] {
   color:#ffffb1 !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background6);"] {
   color:#e7f4f2 !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background7);"] {
   color:#b8d0d8 !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background8);"] {
   color:#d4d2da !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background9);"] {
   color:#d4d2da !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background10);"] {
   color:#e6dbd9 !important;
}
/*.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background11);"] {
   box-shadow:0 0 0 4px var(--b3-font-background11) inset;
   background-color:transparent !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background12);"] {
   box-shadow:0 0 0 4px var(--b3-font-background12) inset;
   background-color:transparent !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background13);"] {
   box-shadow:0 0 0 4px var(--b3-font-background13) inset;
   background-color:transparent !important;
}*/
/*.protyle-wysiwyg.protyle-wysiwyg [data-node-id][style*="background-color: var(--b3-font-background"] *{
   mix-blend-mode:color-dodge;
}*/


.protyle-background__img img,.b3-typography img, .protyle-wysiwyg img {
   opacity:0.8;
}

.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]:before {
   background-color:var(--b3-theme-primary-lighter);
}

:root {
    --b3-theme-primary: #1ec3b4 !important;
    --b3-theme-primary-rgba: 30, 195, 180 !important;
    --b3-theme-on-surface: #cac8c6 !important;
    --grey-lighten: 224, 224, 224 !important;
    --primary-black: 43, 43, 43 !important;
    --secondary-black: 30, 30, 30 !important;
    /*底栏背景*/
    --b3-toolbar-background: rgba(var(--primary-black), .66) !important;
    /*内容区最大宽度*/
    --cliff-max-width: 1500px !important;
    /*代码块背景色*/
    --custom-transparent: linear-gradient(to bottom, rgba(var(--secondary-black),.85), rgba(var(--secondary-black), .3)) !important;
}

/*隐藏分割线+间距变小*/
.layout__resize--lr:after {
    width: 0px
}

.layout__resize--lr.layout__resize {
    padding-left: 0px;
    padding-right: 0px
}

/*背景遮罩*/
.b3-dialog__scrim {
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.618))
}

/*顶栏*/
/*.toolbar {
    top: -16px !important;
    position: fixed !important;
    width: 100% !important;
    z-index: 999 !important;
    transition: 0.3s !important;
    opacity: 0 !important;
    background: rgba(var(--secondary-black), .60) !important;
    backdrop-filter: blur(15px) !important;
transform: translateZ(0);
    box-shadow: var(--b3-dialog-shadow);
}

.toolbar:hover{
    top: 0px !important;
    opacity: 1 !important;
}*/
/*隐藏顶栏，来自Savor*/
.toolbar{
	height:32px;
	margin-bottom: -32px;
	opacity: 0;
	transition: all 300ms;
	transform:translateY(-20px);
	z-index:8;
	transition-delay: 1000ms;
    background: #535353 !important;
    /*backdrop-filter: blur(15px) !important;
transform: translateZ(0);*/}
.toolbar:hover{
	opacity: 1;
	transform:translateY(0px);
	transition: all 300ms;
}
#dockLeft,#dockRight {
    -webkit-app-region: drag;
    padding-top:30px;
    padding-bottom:30px;
}
.dock__item {
    -webkit-app-region: no-drag;
}
.dock__item:hover {
   background-color:rgba(70,70,70,0.6);
   color:var(--b3-theme-primary);
}
#barWorkspace{
   background-color:transparent !important;
}
#barWorkspace .toolbar__svg{
   padding-left:4px;
   padding-right:4px;
   transform:scale(1.3);
}
#barWorkspace .toolbar__svg:hover{
   color:var(--b3-theme-on-background);
}

#barWorkspace:hover{
   color:rgba(var(--grey-lighten), .34) !important;
}

/*面包屑*/
.protyle-breadcrumb__item {
    color: rgba(var(--grey-lighten), .21) !important;
}

/*标签页字体*/
.layout-tab-bar .item__text {
    color: rgba(var(--grey-lighten)) !important;
    min-width:2em;
}

/*表格*/
.b3-typography table, .protyle-wysiwyg table {
    border: none !important;
    overflow: unset;
    border-spacing: 2px;
    border-collapse: separate;
}

.b3-typography table td, .b3-typography table th, .protyle-wysiwyg table td, .protyle-wysiwyg table th,
.b3-typography table tr:nth-child(2n) td, .protyle-wysiwyg table tr:nth-child(2n) td, .protyle-wysiwyg table tbody td {
    background: rgba(var(--secondary-black), .38);
}

.protyle-wysiwyg table th {
    background: rgba(var(--secondary-black), .70) !important;
    border: none !important;
}

.protyle-wysiwyg table td {
    border: none !important;
}


.protyle-wysiwyg table tr th:first-child {
    border-top-left-radius: 12px !important;
}

.protyle-wysiwyg table tr th:last-child {
    border-top-right-radius: 12px !important;
}

.protyle-wysiwyg table tr:last-child td:first-child {
    border-bottom-left-radius: 12px !important;
}

.protyle-wysiwyg table tr:last-child td:last-child {
    border-bottom-right-radius: 12px !important;
}

/*边栏图标*/
.toolbar__item {
    color: rgba(var(--grey-lighten), .34)
}

/*内容容器间距*/
#layouts > .fn__flex-1 {
    padding: 0px
}

/*内容背景色*/
.fn__flex-1.fn__flex [data-type="wnd"]::before {
    background: rgba(var(--primary-black), .73) !important;
!important;
}

/*代码块样式*/
.code-block {
    border-radius: 12px !important;
    border: none !important;
    background: var(--custom-transparent) !important;
}

.protyle-wysiwyg [data-node-id] {
    border-radius: 12px !important;
}
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
   border-top-left-radius:30px !important;
}
/*savor底栏*/
#status {
    position: fixed !important;
    background-color: #535353 !important;
    right: 41px !important;
    bottom: -4px !important;
    border-radius: 6px 0 6px 0 !important;
    height: 26px !important;
    border: 0 !important;
    padding: 0 26px 0 0 !important;
    margin: 0 0 12px 0 !important;
    z-index: 10 !important;
}

.status .toolbar__item:not(.toolbar__item--close) {
    margin: 3px !important;
    padding: 3px !important;
    background-color: rgb(0, 0, 0, 0) !important;
}

.status .toolbar__item svg {
    padding: 3px 4px !important;
    color: var(--b3-dockright-color) !important;
    width: 12px !important;
}

.body--win32 > .fn__flex-1 {
    overflow: visible !important;
}

.status__counter:not(:empty) {
    border-radius: 5px !important;
    padding: 0px 0px 0 8px !important;
    margin: 0px 2px 0px 0px !important;
    height: 26px !important;
    line-height: 26px !important;
}

.status__msg:not(:empty) {
    animation: statusmsg 5s ease-in-out !important;
    max-width: 140px !important;
    padding: 0px 8px !important;
    border-radius: 5px !important;
    margin: 0px !important;
    transition: max-width 300ms, opacity 300ms !important;
    transition-delay: 2000ms !important;
    position: relative !important;
    height: 26px !important;
    line-height: 26px !important;
}

.status__msg:not(:empty):before {
    content: "📢" !important;
    font-size: 12px !important;
    padding-right: 6px !important;
}

.status__msg:not(:empty):hover {
    max-width: 400px !important;
    transition: max-width 300ms ease-out !important;
}


.status #statusHelp {
    position: relative !important;
}

.status #barDock {
    position: absolute !important;
    right: -3px !important;
    z-index: 8 !important;
    color: var(--b3-theme-on-background) !important;
}

.status #statusHelp svg, .status #barDock svg {
    color: var(--b3-theme-on-background) !important;
}

.status #barDock:before {
    right: unset !important;
    left: 0px !important;
    transform: rotateY(180deg) !important;
}

.status #barDock:after {
    left: unset !important;
    right: 100% !important;
}

.status > .fn__flex-1 {
    position: relative !important;
    width: 0px !important;
    right: 0px !important;
    flex: 0 !important;
}


.status__backgroundtask {
    margin: 0px 0px 7px 0px !important;
    padding: 0px 0px 0px 8px !important;
    border-radius: 5px !important;
    height: 26px !important;
    line-height: 26px !important;
}


.body--window #status {
    right: -22px !important;
    bottom: -12px !important;
    border-radius: 6px 0 0 0 !important;
}

.fn__flex-1:has(#dockRight.fn__none) ~ #status {
    right: 7px !important;
}

.status .toolbar__item {
    height: 26px !important;
}

#status .toolbar__item span {
    margin: 3px !important;
    font-size: 12px !important;
}

#dockBottom:not(.fn__none) + #status {
    background-color: transparent !important;
}
.fullscreen .og-fake-doc-breadcrumb-container{
   display:none;
}
body .protyle-title__input {
    font-size: 1.8rem;
}

.sy__outline .b3-list-item__text {
   overflow:visible !important;
-webkit-line-clamp: unset;
}
