.config-account__cover{background-image:none !important}

.config-bazaar__readme .item__side{border-right: 2px dashed var(--b3-theme-surface-lighter);}
#configBazaarReadme.config-bazaar__readme{
  z-index: 3;
}
.b3-card {
    box-shadow:unset;
    border:1px solid var(--b3-border-color);
}
.counter.fn__flex-center.b3-tooltips.b3-tooltips__w{background-color: var(--b3-theme-primary) !important;color:var(--b3-theme-on-primary)}

.config__panel>.b3-tab-bar{
   background-color:#2d2d2d;
   border-radius:12px 0 0px 12px;
}
