.protyle-wysiwyg [data-node-id] {
    border-radius: 12px !important;
}
.protyle-wysiwyg.protyle-wysiwyg [data-node-id]:not([data-type="NodeHTMLBlock"]):not([data-type="NodeCodeBlock"]):not([data-type="NodeBlockquote"]),.b3-typography p,.b3-typography ul, .b3-typography ol{
    line-height:1.8em;
    margin-bottom: 6px;
    margin-top: 6px;
} 
.protyle-attr--refcount {
  font-size:14px;
  border-radius:50px;
  padding:4px 8px;
  opacity:0.8;
  transform:scale3d(0.8,0.8,0.8);
   background-color:transparent;
   box-shadow:0 0 0 2px var(--b3-theme-primary-lighter) inset;
}
.protyle-attr--refcount:hover {
  background-color:var(--b3-theme-primary-light);
  color:var(--b3-theme-background);
   transition:var(--b3-transition);
}
.protyle-gutters {
    transition: all 200ms ease-out;
}

/*****************************blockquote**************************/
.b3-typography blockquote, .b3-typography .bq, .protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
  background-color: var(--transparent) !important;
    border-left:none;
    padding-top:10px;
    padding-bottom:5px;
   padding-left:20px;
   padding-right:10px;
    color: #f8f8f8dd;
border: 3px solid var(--b3-theme-surface-lighter);
font-size:90%;
   border-top-left-radius:30px !important;
}
div.list div.bq {
    padding: 5px 10px 3px 20px !important;
    margin: 5px 0px 0px 36px !important;
}
/****************************table**************************/

.b3-typography table tbody th, .b3-typography table tbody td, .protyle-wysiwyg table tbody th, .protyle-wysiwyg table tbody td {
   font-size:90%;
   background-color:rgba(var(--secondary-black), .38) !important;
}
.protyle-wysiwyg div.table[data-node-id] table {
    width: auto;
}

.b3-typography table, .protyle-wysiwyg table {
    border: none !important;
    overflow: unset;
    border-spacing: 2px;
    border-collapse: separate;
    border-radius:12px;
}
.b3-typography table td, .b3-typography table th, .protyle-wysiwyg table td, .protyle-wysiwyg table th,
.b3-typography table tr:nth-child(2n) td, .protyle-wysiwyg table tr:nth-child(2n) td, .protyle-wysiwyg table tbody td {
    background: rgba(var(--secondary-black), .38);
}

.protyle-wysiwyg table th {
    background: rgba(var(--secondary-black), .70) !important;
    border: none !important;
}

.protyle-wysiwyg table td {
    border: none !important;
}


.protyle-wysiwyg table th:first-child {
    border-top-left-radius: 12px !important;
}

.protyle-wysiwyg table th:last-child {
    border-top-right-radius: 12px !important;
}

.protyle-wysiwyg table tr:last-child td:first-child {
    border-bottom-left-radius: 12px !important;
}

.protyle-wysiwyg table tr:last-child td:last-child {
    border-bottom-right-radius: 12px !important;
}

/*****************************codeblock**************************/
.b3-typography .hljs,
.protyle-wysiwyg .hljs {
  background-color: #00000000 !important;
  border-radius: 6px;
}
.protyle-linenumber__rows {
  /*margin-top: 31px !important;*/
  background-color: #00000000 !important;
}
.code-block {
  position: relative;
  display: block;
  border-radius: 12px;
  background: var(--custom-transparent) !important;
  margin-top: 15px !important;
  padding-top: 24px !important;
  border:none;
}
.code-block:before {
  content: " ";
  position: absolute;
  background: #fa625c;
  box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
  border-radius: 50%;
  /* margin-top: 10px; */
  top: 10px;
  left: 15px;
  height: 12px;
  width: 12px;
  z-index: 1;
}
.b3-typography .hljs, .protyle-wysiwyg .hljs,.protyle-linenumber__rows{padding:0.4em 4px}
.protyle-wysiwyg .code-block .protyle-action .protyle-action__language{padding-left:1em;margin-top:-3px}
/***************************embed block**************************/
.protyle-wysiwyg [data-node-id].render-node[data-type="NodeBlockQueryEmbed"] {
  background: var(--custom-transparent);
  border-radius: 6px;
    border: 3px solid var(--b3-theme-background-light);
}
.protyle-wysiwyg [data-node-id].li>.protyle-action--order:after {
   border-radius:50px;
}

/***************************card&superblock***********************/
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    animation: unset !important;
}
.protyle-wysiwyg [data-node-id][custom-riff-decks]:not([data-type="NodeHeading"]) {box-shadow:0px 1px 0px 0px #cac8c699,0px -1px 0px 0px #cac8c699;transition:all 300ms}
.protyle-wysiwyg [data-node-id][custom-riff-decks][data-type="NodeHeading"]{box-shadow:0px -1px 0px 0px #cac8c699}
.protyle-wysiwyg [data-node-id][data-type="NodeSuperBlock"]{box-shadow:0px 0px 0px 1px #cac8c699}
.protyle-wysiwyg [data-node-id][data-type="NodeSuperBlock"] [data-node-id][data-type="NodeSuperBlock"]{box-shadow:unset}
.card__main .protyle-wysiwyg [data-node-id][custom-riff-decks], [data-key="viewCards"] .protyle-wysiwyg [data-node-id][custom-riff-decks] {box-shadow:unset;}
.protyle-wysiwyg div[fold="1"][data-type=NodeHeading]:before {
   background-color:var(--b3-theme-primary-lighter);
}

div[data-type="NodeSuperBlock"] > [data-node-id] {
  margin-left: 0;
}
.layout-tab-container.fn__flex-1 .card__main{background-color:transparent;padding-bottom:23px;margin-top:-7px}
.layout-tab-container.fn__flex-1 .card__empty{background-color:transparent}
.layout-tab-container.fn__flex-1 .card__main .block__icons{margin-bottom:-10px}

/*************************media**************************/
.b3-typography audio, .protyle-wysiwyg audio{mix-blend-mode:soft-light}
.protyle-background__img img,.b3-typography img, .protyle-wysiwyg img {
   opacity:0.8;
}

