/***********************file-tree**********************/
.b3-list-item__icon{min-width:20px;max-width:20px}
.sy__file .b3-list-item__toggle {
   padding-left:1px !important;
   padding-right:1px;
   color:var(--b3-theme-primary);
   opacity:0.6;
}
.sy__file .b3-list-item__icon {
   margin-left:0px;
   margin-right:0px;
   padding:0px 0px;
   transform:scale(0.6);
}
.sy__file .b3-list.b3-list--background ul {
   border-left:1px solid var(--b3-theme-background-light);
   margin:0px 0px 0px 10px;
}
.sy__file .fn__flex-1 {
   margin:0px;
   padding-right:5px;
}

.fn__flex-1.fn__flex-column.file-tree.sy__file .b3-list-item {
   margin-left:0px !important;
}
#layouts div.fn__flex-column div[data-type="wnd"] div.layout-tab-container .sy__file ul.b3-list li.b3-list-item[data-type="toggle"]{margin-left:10px !important;border-radius:6px;opacity:0}
#layouts div.fn__flex-column div[data-type="wnd"] div.layout-tab-container .sy__file ul.b3-list li.b3-list-item[data-type="toggle"]:hover {opacity:1}
.sy__outline>.b3-list-item{
   margin:0px;
   padding-left:10px;
   color:#c9d1d9b0 !important;
}
.sy__file .fn__flex-1{
   padding-top:0px !important;
}
.b3-list-item__toggle:hover,.b3-list-item__icon:hover  {
   padding-right:4px;
   transition:var(--b3-transition);
}
/***************************outline字形**********************/
.sy__outline .b3-list-item__text {
   overflow:visible !important;
-webkit-line-clamp: unset;
}
.sy__outline .b3-list-item__text.ariaLabel{box-shadow:inset 0 -1px 0px 0px var(--b3-border-color)}
.sy__outline .b3-list--background .b3-list-item{margin-left:0px}
.sy__outline .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom){background-color:inherit}
.sy__outline .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) .b3-list-item__text.ariaLabel{box-shadow:inset 0 -1px 0px 0px var(--b3-theme-primary-light);transition:var(--b3-transition)}
.sy__outline .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom):hover{background-color:var(--b3-list-hover)}
/**********************outline-icon*********************/
.sy__outline .b3-list-item__toggle {
   padding-left:4px !important;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h2"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h3"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h4"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h5"] svg.b3-list-item__graphic, .file-tree ul.b3-list.b3-list--background [data-subtype="h6"] svg.b3-list-item__graphic {
   color:transparent !important;
   margin-left:-26px;
   padding-left:2px;
   padding-right:8px;
    z-index:2;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h1"]>span:first-child::after{
        margin-left:3px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:16px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h2"]>span:first-child::after{
        margin-left:3px;
        margin-right:4px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:12px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h3"]>span:first-child::after{
        margin-left:3px;
        margin-right:8px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:8px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h4"]>span:first-child::after{
        margin-left:3px;
        margin-right:12px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:3px;
        width:4px;
        border-radius:3px;        z-index:1;

}
.file-tree ul.b3-list.b3-list--background [data-subtype="h5"]>span:first-child::after{
        margin-left:3px;
        margin-right:14px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:2px;
        width:2px;        z-index:1;

        border-radius:3px;
}
.sy__outline .b3-list-item__toggle.fn__hidden{
	visibility: visible!important;
        color:transparent;
}
.file-tree ul.b3-list.b3-list--background [data-subtype="h6"]>span:first-child::after{
        margin-left:3px;
        margin-right:16px;
	content:" ";
        background-color:var(--b3-theme-on-primary);
        color:var(--b3-theme-on-primary);
        opacity:0.6;
        height:0px;
        width:0px;        z-index:1;

        border-radius:3px;
}


/**********************标题样式**********************/
.b3-typography .h2:after, .b3-typography h2:after, .protyle-wysiwyg .h2:after, .protyle-wysiwyg h2::after{content:"";background-color:var(--b3-theme-primary-lighter);width:100%;display:block;height:2px}
.b3-typography .h1:after, .b3-typography h1:after, .protyle-wysiwyg .h1:after, .protyle-wysiwyg h1::after{content:"";background-color:var(--b3-theme-primary-lighter);width:100%;display:block;height:5px}
.b3-typography .h4, .b3-typography h4, .protyle-wysiwyg .h4, .protyle-wysiwyg h4{width:fit-content;background-color:var(--b3-theme-primary-lightest);background-image:linear-gradient(to right,transparent,var(--b3-theme-primary-lighter));padding:1px 10px!important;border-radius:0px !important;text-shadow:1px 1px #122c2a;color:rgba(var(--color),.8)}
.b3-typography .h6, .b3-typography h6, .protyle-wysiwyg .h6, .protyle-wysiwyg h6{width:fit-content;border:1px solid;padding:1px 10px!important;border-radius:0px !important;
font-size:.9em}
.b3-typography .h5, .b3-typography h5, .protyle-wysiwyg .h5, .protyle-wysiwyg h5{text-decoration:underline;text-underline-offset:5px;color:var(--b3-theme-primary)}
.b3-typography .h3, .b3-typography h3, .protyle-wysiwyg .h3, .protyle-wysiwyg h3{box-shadow:-4px 0px 1px 1px var(--b3-theme-primary-lighter);border-radius:0px!important;}
body .protyle-title__input {
    font-size: 1.8rem;
}
