.pdf__rect>div {
   border-radius:0px !important;
  mix-blend-mode:multiply;
}
.pdf__outer.pdf__outer--dark .pdf__rect [style*="background-color"]{background-color:transparent !important;border-top:none !important;border-left:none !important;border-right:none !important}

.pdf__outer #viewerContainer:not(.pdfPresentationMode) {
   margin-bottom:20px;
}
.textLayer .highlight.selected,.textLayer .highlight.selected.appended {
   background-color: transparent;
   border:2px solid var(--b3-theme-primary);
}

#sidebarContainer{background-color:transparent}
.textLayer .highlight.appended{background-color:var(--b3-theme-primary);border:2px solid var(--b3-theme-primary)}
.pdf__outer .textLayer, .pdf__outer .pdf__resize{mix-blend-mode:unset}
.pdf__outer--dark .textLayer{background-color:#4a473f70}

.toolbarField.pageNumber{background-color:transparent}
.findbar #findInput[data-status=notFound],.b3-snackbar--error .b3-snackbar__content {
    background-color: #ff00004a;
}