/*搜索界面*/
/* 搜索面板调整，来自HBuiderX-Light*/
#searchList,
#globalSearchList {
    padding-right: 0px !important;
}

#searchList [data-type="search-item"],
#globalSearchList [data-type="search-item"] {
    display: block !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__graphic,
#globalSearchList [data-type="search-item"]>.b3-list-item__graphic {
    position: absolute;
    margin-top: 6px !important;
    margin-left: 2px !important;
}

#searchList [data-type="search-item"]>.b3-list-item__text,
#globalSearchList [data-type="search-item"]>.b3-list-item__text {
    margin-left: 20px;
    max-height: 73px !important;
    padding-top: 5px !important;
    padding-bottom: 2px !important;
    padding-right: 5px !important;
    overflow-y: auto !important;
    text-overflow: ellipsis !important;
    line-height: 1.2;
    -webkit-box-orient: inherit !important;
}

#searchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis,
#globalSearchList [data-type="search-item"]>.b3-list-item__meta.b3-list-item__meta--ellipsis {
    display: block !important;
    max-width: 95% !important;
    margin-top: -7px !important;
    margin-bottom: -5px !important;
    padding-left: 12px !important;
}
#searchList [data-type="search-item"], #globalSearchList [data-type="search-item"] {
    margin-top:6px;
    padding:2px 2px 4px 2px;
    border-bottom:1px dashed var(--b3-border-color);
    border-radius: 0px 0px 0px 0px;
    padding-bottom:12px !important;
}
#searchList ::-webkit-scrollbar, #globalSearchList ::-webkit-scrollbar {
   width:0px;
}
.search__header .b3-text-field--text,#criteria{background-color:transparent !important}
.b3-dialog__close,.b3-dialog__close:hover{opacity:0;cursor:default}
.b3-form__icon.search__header{
  background-color: #00000000!important;
}
