/*标签页字体*/
.layout-tab-bar .item__text {
    color: rgba(var(--grey-lighten)) !important;
    min-width:2em;
}

.layout__wnd--active .layout-tab-bar .item--focus:after,.layout-tab-bar .item--full.item--focus:after {
    background-color:var(--b3-theme-primary);
    display:none;
}
.layout-tab-bar .item--focus:after {
   display:none;
}
.item--focus {
   box-shadow:unset !important;
}
